
:root {
    --blueColor: #008DDA;
    --blueActiveColor: #29b4e2;
    --redColor: #fa1717;  
    --greyColor: #4b4a4a;

}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--whiteColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


/* hero section */
section {
    background-color: #fff;
    color: var(--whiteColor);
    margin: 20px;
    margin-bottom: 70px;
}


.text_L {
    background: var(--textColorGrey);
    padding-left: 100px;
    padding-right: 30px;
}

.text_R {
    background: var(--blueColor);
    padding-left: 50px;
    padding-right: 30px;
}

/* for blog page */
.blog_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blog_admin {
    padding-top: 50px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* when error happens. */

.error_block {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}


.blog_categories {
    display: flex;
    flex-direction: column;
}


.blog_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--textColorGrey);
    
}

.blog_text, .blog_image {
    cursor: pointer;
}


.blog_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: var(--textColorGrey);
    padding: 20px;

}



.blog_item_rigt .blog_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.blog_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 145px;
    border: 1px solid var(--textColorGreyParagraph);
    color: var(--blueColor);
  
}

.blog_text:hover {
    background: var(--blueColor);
    color: var(--whiteColor);
    
    border: none;
}

.blog_image img {
    width: 200px;
    height: 120px;
    border-radius: 20px;
    margin: 0px;
}



.blog_item {
    margin: 15px;
    align-items: center;

}

.blog_title h3 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.readmore {
    float: left;
    margin: 0px;
}

.readme_button {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 15px;
    padding: 8px;
    width: 50%;
    background: var(--blueColor);
    cursor: pointer;
    border: none;
}

.readmore:hover {
    cursor: pointer;
    color: var(--colorforWeakGrey);
    border-bottom: 1px solid var(--colorforWeakGrey);
}

.blog_item_rigt {
    min-width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    outline: 1px solid var(--colorforWeakGrey);
}

.blog_item_left {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

}

.blog_item_left_single {
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.book_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid var(--colorforWeakGrey);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

/* for single blog */
.single_blog .blog_item_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header_related h3 {
    border-bottom: 1px solid var(--colorforWeakGrey);
    width: 145px;
    padding: 20px;
}

.related_blog_item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.blog_relate_image img {
    width: 220px;
    height: 145px;
    margin: 10px;
}

 /* button controllers */
 .button_control button{
    color: var(--blueColor); 
    background-color: white;
    border: 1px solid var(--blueColor);   
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    
}
.button_control button:hover{
    cursor: pointer;
}

#button_control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}

/* for main image single */
.single_blog_image img {
    width: 520px;
    height: 345px;
    margin: 0px;
    margin-top: 35px;
}

.icon_blog {
    display: flex;
}

.icon_blog p {
    color: var(--colorforWeakGrey);
    margin-right: 25px;
    cursor: pointer;
}

.icon_blog i {
    color: var(--colorforWeakGrey);
    cursor: pointer;
    margin-right: 5px;
    margin-top: 20px;
}

.icon_blog i:hover, .icon_blog p {
    color: var(--colorGreyText)
}

.comment_form textarea {
    background: var(--whiteColor);
    border: none;
    border-radius: 10px
}

.comment_form textarea:focus {
    border: 1px solid var(--colorforWeakGrey);

}


.comment_form input[type=submit] {

    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    background: var(--blueColor);
    box-sizing: border-box;
    color: var(--whiteColor);
    cursor: pointer;
    border: none;
    border-radius: 20px
}

/*  for edit modal */
.add_blog_button {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.dashboard_item_rigt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 20px;
    max-width: 80%;
    background: #b7babb;
}

.edit_modal {
    display: relative;
    color: white;
}


/* for search input */
.blog_search {
    display: flex;
    margin-top: 20px;
}

.blog_search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: var(--colorforWeakGrey)
}

.blog_search i {
    position: relative;
    left: -25px;
    top: 15px;
    cursor: pointer;
}

/* .................blog and dashboard................... */
.dashboard_categories {
    display: flex;
    flex-direction: column;
}

.dashboard_categories i {
    margin: 6px;
}

.dashboard_categories a {
    text-decoration: none;
    color: var(--colorforWeakGrey);
    padding: 5px;
    border-bottom: 1px solid var(--colorforWeakGrey);
}

.dashboard_popular a, .dashboard_tags a {
    text-decoration: none;
    color: var(--colorforWeakGrey);
    padding: 5px;
    border-bottom: 1px solid var(--colorforWeakGrey);
}



/* ..........register.....section..... */
.hide {
    display: none
}

.blog_item_content {
    margin-right: 20px;
    max-width: 100%;
}



#removeBlog {
    color: red;
    cursor: pointer;
}

#editBlog {
    color: var(--blueColor);
    cursor: pointer;
}

#removeBlog {
    margin-left: 240px;
}

#editBlog {
    margin-left: 20px;
}

/* footer */
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    
}






/* for responsiveness */

@media only screen and (max-width: 720px) {
   


    .blog_item {
        display: flex;
        flex-direction: column;
    }

    /* for blogs */
    .blog_item_left {
        margin: 0px;
        padding: 0px
    }

    .blog_section {
        margin: 0px;
        padding: 0px
    }



    .blog_item_rigt {
        border-left: none;

    }

    .blog_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .blog_content img {
        max-Width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .blog_item_content {
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #blog_admin {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #loading {
        margin-bottom: 100px;
        padding-bottom: 100px;
        justify-content: center;
        display: flex;
    }

    .loading_image {
        margin-bottom: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


   

    .readme_button {

        color: var(--whiteColor);
        text-decoration: none;
        background: var(--blueColor);
        cursor: pointer;
        width: 50%;
        border: none;
    }


    /* for edit modal */

    .dashboard_item_rigt {
        max-width: 100%;
    }


    /* for icon */

    #removeBlog, #editBlog {
        margin-left: 20px;
    }

    .icon_blog p {
        color: var(--colorforWeakGrey);
        margin-right: 5px;
        cursor: pointer;
    }


    .Add_blog_container {        
        top: 60%; 
        left: 70%;   
        margin-top: 75px;
        padding-bottom: 20px;
    }

   
}




/* 
for ipods and tables */

@media only screen and (max-width: 920px) {

    body {
        min-width: 360px;
    }

 

    


  
    

    


    
    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    .blog_item_content {
        padding: 20px;
        margin: 10px;
    }

 
}

/* 
  for mobile */

@media only screen and (max-width: 556px) {

    body {
        min-width: 360px;
    }
     

   /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    .blog_item_content {
        padding: 20px;
        margin: 10px;
    }

    .blog_item h3, p {
        font-size: 20px;
    }    
}



/* 
  for dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background: var(--blueColor);
        color: white;
    }

}

@media (prefers-color-scheme: light) {
    body {
        background: var(--blueColor);
        color: black;
    }

}