/* esetting my box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* my variables style */

:root {
    --blueColorContrast: #0b3af6;
    --blueColor: #29b4e2;
    --blackColorHeader: rgb(0, 0, 0);
    --blueColorBC: #02090be3;
    --blueColorWhite: #e4f6fc88;
    --blueColorWhiteLess: #e7f7fc;
    --redColorWhiteLess: #fdeded;
    --redColor: #fa1717;
    --GreenColorWhiteLess: #f1faf0;
    --GreenColor: #36c729;
    --OrangeColor: #be530bef;
    --OrangeColorBlack: #713209ef;
    --OrangeColorWhite: #977761ef;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;
  
}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* menu */
.main_nav a {
    color: var(--whiteColor);
}

.main_nav {
    color: var(--textColorWhite);
    background-color: var(--blackColorHeader);
}

.menu .fa {
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--whiteColor);
}

.menu a {
    text-decoration: none;
    font-size: 13px;
}


i {
    color: #29b4e2;
}

/* to hide burger menu */
.burger_menu {
    display: none;
}

.menu_nav {
    margin-right: var(--spacingMargin);
}


/* DropDown menu */
.dropbtn {
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
    }
  
    /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block; margin: 14px;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    /* .dropdown:hover .dropbtn {background-color: var(--textColorGrey);} */
  

.hero_content {
    border-left: 4px solid var(--blueColor);
    padding-left: 30px;
}

.hire_text {
    max-width: 200px;
    padding: 2px;
}

.hero_content h2 {
    font-family: 'Roboto Thin';
}


/* statistic section */

.statistic_section {
    background-color: var(--whiteColor);
    display: flex;
    color: var(--textColorGrey);
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    border-radius: 20px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.486);
    width: 35%;
    margin-left: 400px;
    margin-top: -35px;
}

.stat_content_middle {
    border-left: 2px solid var(--colorforWeakGrey);
    border-right: 2px solid var(--colorforWeakGrey);
    padding-left: 15px;
    padding-right: 15px;
}

.stat_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: var(--spacing);
    margin-left: var(--spacing);

}

.stat_content span {
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    color: var(--colorforWeakGrey);
    line-height: 48px;
    display: block;

}

.stat_content h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--colorforWeakGrey);
    font-family: "Montserrat", serif;
}

section{
    background-color: var(--whiteColor);
    margin: 20px;
    margin-bottom: 70px;
}

/* 
    input  */

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: var(--inputColor);
    border: 1px solid var(--inputColor);
    border-radius: 4px;
    box-sizing: border-box;
}

.service_text h3 {
    padding: 10px;
}

/* for dashboard page */

.dashboard_categories {
    display: flex;
    flex-direction: column;
}

.dashboard_categories i {
    margin: 6px;
}


.dashboard_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--textColorGrey);
    background: var(--lowerBackground);
}



.dashboard_text, .dashboard_image {
    cursor: pointer;
}


.dashboard_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: var(--textColorGrey);
    padding: 20px;

}


.dashboard_content {
    display: flex;
    /* flex-direction: column; */
}


.overlay {
    position: relative;
}

.close_overlay_button {
    color: white;
}

.close_overlay_button:hover {
    cursor: pointer;
}

.edit_blog_form {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    /* Example overlay background color with transparency */
    z-index: 2;
    padding: 300px;
    padding-top: 500px;
    display: flex;
    justify-content: center;

}

.dashboard_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.dashboard_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 145px;
    border: 1px solid var(--textColorGreyParagraph);
    color: var(--blueColor);
    padding: 25px;
}

.dashboard_text:hover {
    background: var(--blueColor);
    color: var(--whiteColor);
    padding: 25px;
    border: none;
}


.dashboard_item p {
    color: var(--textColorGreyParagraph);
    width: 220px;
}


#blog_admin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}


.dashboard_bottom i{
color: var(--redColor);
}


#removeBlog {
    color: var(--redColor);

}

#editBlog {
    color: var(--blueColor);

}

.blog {
    width: 100%;
    padding-left: 45px;
}

.blog:hover{
    cursor: pointer;
}

#removeBlog, #editBlog {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.dashboard_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}



.blog_item {
    width: 100%;
    /* max-height: 40%; */
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-right: 20px;
    border: 1px solid var(--blueColor);
}

.blog_image {
    /* /* margin-right: -40px; */
    padding-top: 10px; 
}

.blog_image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--blueColor);
}

#loading {
    width: 80%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
}

#main_dashboard {
    padding: 20px;
}

.readmore {
    float: left;
    margin: 0px;
}

.readmore:hover {
    cursor: pointer;
    color: var(--colorforWeakGrey);
    border-bottom: 1px solid var(--colorforWeakGrey);
}

.dashboard_item_rigt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-left: 2px solid var(--colorforWeakGrey); */
    margin: 20px;
    padding: 60px;
    padding-top: 20px;
    max-width: 80%;
    background: var(--whiteColor);
    /* margin-right: 20px; */
}

.form_blog {
    max-width: 50%
}

.add_blog_button {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

#cancel_button {
    color: var(--whiteColor);
    background-color: rgba(239, 106, 106, 0.562);
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

#alert_message_add_blog {
    background: green;
    width: 100%;
    color: white;
    margin-top: 50px;
    padding: 5px;
    display: none;
    justify-content: center;
}

.dashboard_item_left {
    min-width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    outline: 1px solid var(--colorforWeakGrey);
}

.dashboard_item_left .dashboard_item {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

/* for single dashboard */

.single_dashboard .dashboard_item_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.related_dashboard_item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dashboard_relate_image img {
    width: 220px;
    height: 145px;
    margin: 10px;
}

/* for main image single */
.single_dashboard_image img {
    width: 520px;
    height: 345px;
    margin: 0px;
}

/* for search input */
.dashboard_search {
    display: flex;
    margin-top: 20px;
}

.dashboard_search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: var(--colorforWeakGrey)
}

.dashboard_search i {
    position: relative;
    left: -25px;
    top: 15px;
    cursor: pointer;
}

/* .................................... */
.dashboard_categories a {
    text-decoration: none;
    color: var(--colorforWeakGrey);
    padding: 5px;
    border-bottom: 1px solid var(--colorforWeakGrey);
}

.dashboard_popular a, .dashboard_tags a {
    text-decoration: none;
    color: var(--colorforWeakGrey);
    padding: 5px;
    border-bottom: 1px solid var(--colorforWeakGrey);
}

/* for login */
.hero_login_section {

    padding: 30px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.76), rgba(3, 3, 3, 0.774)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_login_content {
    display: flex;
    justify-content: center;
}

.hero_login_content h1 {
    padding: 20px
}

.form_login {
    border-radius: 4px;
    margin: 50px;
}

.form_login input {
    border-radius: 20px;
}

.login, .register {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.login_register {
    display: inline;
    margin: 20px;
}

/* ..........register.....section..... */
.hide {
    display: none
}

.dashboard_section {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor); 
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--blackColorHeader);
    width: 100%;
    color: white;
    text-align: center;
}

.social_media i {
    margin: var(--spacing);
}


/* for responsiveness */
@media only screen and (max-width: 720px) {

    body {
        min-width: 360px;
    }

    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .nav_small {
        display: inline;
    }

    .small_device {
        display: none;
    }

    .burger_menu {
        display: block;
        font-size: 30px;
    }

    .hide_burger {
        display: none;
    }

    .hero_section {
        font-size: .8rem;
    }

    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    .blog_item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog_image .blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stat_content span{
        margin-left: 20px;
    }   
}

/* 
for ipods and tables */

@media only screen and (max-width: 920px) {

    body {
        min-width: 360px;
    }

    .ngana_logo {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 30px;
    }

    .hire_now {
        padding: 15px;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }


    .hero_section {
        font-size: .8rem;
    }

    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    .statistic_section {
        background-color: var(--whiteColor);
        display: flex;
        /* flex-direction: column; */
        color: var(--textColorGrey);
        justify-content: center;
        align-items: center;
        padding: var(--spacing);
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.2em;
        box-shadow: none;
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: -35px;
        padding: 10px
    }


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    .dashboard_content{
        display: flex;
        flex-direction: column;
    }

}



/* 
  for dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background: var(--blueColor);
        color: white;
    }

}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }

}