*, *::before, *::after {
    box-sizing: border-box;
}


:root {

    --blackColorHeader: rgb(0, 0, 0);
    --blackColor: #02090be3;
    --whiteColor: #ffffff;
    --error: rgb(204, 14, 14);
}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


footer {
    
    /* or absolute, depending on your layout */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--blackColor);
    color: var(--whiteColor);
    /* padding: 5px; */
}

footer div {
    margin-right: 0px;
}