*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --blueColor: #008DDA;

}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto',  sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.main_Landing{    
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--blueColor) ;
    padding-top: 250px;
}



/* for responsiveness  mobile*/
@media only screen and (max-width: 720px) {
   
    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    } 
   

    .welcome_text {
        color: var(--blueColor);        
    }
   
    .hero_section_header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hero_section_header div .fa {
        padding: 5px;
    }
    
    .image_landing{
        display: none;
    }

    
    .hero_section {
        font-size: .8rem;
    }
  

    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* remove link style on a tag */
    a, button {
        all: unset;
    }
    
  
}

/* 
for ipads and tables */
@media only screen and (max-width: 920px) {
    body {
        min-width: 360px;
    }
    .ngana_logo {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 30px;
    }
   
    .hero_section {
        font-size: .8rem;
    }
    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;      
        margin: 20px;        
    }

    .dropdown {       
        margin-bottom: 10px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* for portfolio */
    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

}



/* 
  for dark mode */
@media (prefers-color-scheme: dark) {
    body {       
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}