/* my variables style */

:root {
    /* --blueColorContrast: #0b3af6; */
    --blueColorContrast: #29b4e2;
    --blueColor: #29b4e2;
    --blueColorBC: #d7f4fde3;
    --blueColorWhite: #80dfff88;
    --BlackColor: #000000;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;

}


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */
body {
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-color: var(--blueColor);
}



/*  servicesection */

.service_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--textColorGrey);
    background: var(--blueColor);
}


.Service_header {
    margin: 20px;
}

.Service_form_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);


}

.service_text, .service_image {
    cursor: pointer;
}

.text_L {
    background: var(--textColorGrey);
    padding-left: 100px;
    padding-right: 30px;
}

.text_R {
    background: var(--blueColor);
    padding-left: 50px;
    padding-right: 30px;
}

.Service_form_header h4 {
    margin-left: 5px;
}

.service_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: var(--whiteColor);
    padding: 20px;
    border: 5px solid var(--whiteColor);
    border-radius: 50px;
}

.service_form_item .hire_now {
    margin: 20px;
    cursor: pointer;
}

.service_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.service_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 145px;
    border: 1px solid var(--textColorGreyParagraph);
    color: var(--blueColor);
    padding: 25px;
}

.service_text:hover {

    background: var(--blueColor);
    color: var(--whiteColor);
    padding: 25px;
    border: none;
}

.service_image img {
    width: 200px;
    height: 145px;

}

/* 
    input  */

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: var(--whiteColor);
    border: 1px solid var(--blueColor);
    /* border-radius: 4px; */
    box-sizing: border-box;
}

.service_text h3 {
    padding: 10px;
}
/* for login */


.hero_login_content h1 {
    padding: 20px
}

.form_login {
    border-radius: 4px;
    margin: 50px;
   
}

.form_login input {
    border-radius: 20px;
}

.login, .register {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: 1px;
    padding: 8px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.login_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.login_register a {
    text-decoration: none;
    color: var(--blueColor);

}

#error {
    color: var(--error);
}

.hide {
    display: none;
}

#alert_message_login, #alert_message_register {
    background: green;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* 


/* ..........register.....section..... */
.hide {
    display: none
}

.bottom_login {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}

.bottom_login a {
    text-decoration: none;
    color: var(--textColorWhite);
}





/* for responsiveness  mobile*/

@media only screen and (max-width: 720px) {
   
    .service_section{        
        width: 100%; 
        height: 100%; 
        /* padding: 100px; */
    }
 }

