:root {

    --blueColor: #008DDA;
    --blueActiveColor: #29b4e2;
    --redColor: #fa1717;  
    --greyColor: #4b4a4a;
}


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}



.login_main {
    display: flex;
    background-color: var(--blueColor);
    margin: 0px;
    padding-bottom: 60px;
}


.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background: var(--whiteColor);
    border: 5px solid var(--whiteColor);
    border-radius: 10px;
}

/* input*/

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: var(--whiteColor);
    border: 1px solid var(--blueColor);
    box-sizing: border-box;
}


.login {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: 1px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.login_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.login_register a {
    text-decoration: none;
    color: var(--blueColor);
}

#error {
    color: var(--error);
}

.hide {
    display: none;
}

.register_button, .buttonToHome:hover{
    cursor: pointer;
    }

/* ..........register.....section..... */
.bottom_login {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}

.bottom_login a {
    text-decoration: none;
    color: var(--textColorWhite);
}