
:root {
    
    --blueColor: #008DDA;
    --blueActiveColor: #29b4e2;
    --redColor: #fa1717;  
    --greyColor: #4b4a4a;

}


/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto',  sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


/* for errors */

#error {
    color: var(--error);
}

.error {
    color: var(--redColor);
}
.register_container {    
        display: flex;
        flex-direction: row;
        padding-bottom: 65px;
        align-items: center;
        justify-content:center;
        padding-left: 200px    
}

.register_content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: var(--whiteColor);
    width: 100%;
    margin: 20px;
    padding-bottom: 20px;
}




.register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background: var(--whiteColor);
    border: 5px solid var(--whiteColor);
    border-radius: 10px;
}

.register_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    background: var(--whiteColor);
    padding: 1px 10px 1px 10px;
    color: var(--blackColor)
}

.login_button:hover{
cursor: pointer;
}





/* input  */
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: var(--textColorGrey);
    background: var(--whiteColor);
    border: 1px solid var(--blueColorContrast);
}


.form_login input {
    border-radius: 20px;
}

.register {
    color: var(--whiteColor);
    background-color: var(--blueColorContrast);
    border: none;

    padding: 8px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.login_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.login_register a {
    text-decoration: none;

}

.hide {
    display: none;
}

#alert_message_login, #alert_message_register {
    background: green;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* ..........register.....section..... */
.hide {
    display: none
}

.bottom_login {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}

.register{
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    border-radius: 1px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}




/* for responsiveness */
@media only screen and (max-width: 720px) {
.register_container{  
       padding: 0px;  
    margin-bottom: 75px;   
 
}
    
    .register_content {
        display: none;
    }
}