/* my variables style */


:root {
    /* --blueColorContrast: #0b3af6; */
    --blueColorContrast: #29b4e2;
    --blueColor: #29b4e2;
    --blackColorHeader: rgb(0, 0, 0);
    --blackColor: rgb(0, 0, 0);
    --blueColorWhite: #e4f6fc88;
    --blueColorWhiteLess: #e7f7fc;
    --redColorWhiteLess: #fdeded;
    --redColor: #fa1717;
    --GreenColorWhiteLess: #f1faf0;
    --GreenColor: #36c729;
    --OrangeColor: #be530bef;
    --OrangeColorBlack: #713209ef;
    --OrangeColorWhite: #977761ef;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;

}


/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


/* for errors */
   
#error {
    color: var(--error);
}
.error{
    color: var(--redColor);
}


.register_content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: var(--whiteColor);
    width: 100%;    
    margin: 20px; 
    padding-bottom: 20px;
}


.register_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background-color: var(--whiteColor);
    color: var(--whiteColor);
    width: 100%;
    margin: 25px;
}

.register_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    background: var(--textColorGrey);
    padding: 1px 10px 1px 10px;
}





/* input  */
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: var(--textColorGrey);
    background: var(--whiteColor);
    border: 1px solid var(--blueColorContrast);    
}
/* 
.form_login {
    border-radius: 4px;
    margin: 35px;
} */

.form_login input {
    border-radius: 20px;
}

.login, .register {
    color: var(--whiteColor);
    background-color: var(--blueColorContrast);
    border: none;
    
    padding: 8px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.login_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.login_register a {
    text-decoration: none;
    /* color: var(--blueColor); */

}

.hide {
    display: none;
}

#alert_message_login, #alert_message_register {
    background: green;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* 


/* ..........register.....section..... */
.hide {
    display: none
}

.bottom_login {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}




/* for responsiveness */

@media only screen and (max-width: 720px) {
  
 
}