/* my variables style */

:root {
    --blueColorContrast: #0b3af6;
    --blueColor: #29b4e2;
    --blackColorHeader: rgb(0, 0, 0);
    --blueColorBC: #02090be3;
    --blueColorWhite: #e4f6fc88;
    --blueColorWhiteLess: #e7f7fc;
    --redColorWhiteLess: #fdeded;
    --redColor: #fa1717;
    --GreenColorWhiteLess: #f1faf0;
    --GreenColor: #36c729;
    --OrangeColor: #be530bef;
    --OrangeColorBlack: #713209ef;
    --OrangeColorWhite: #977761ef;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;

}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* menu */
.main_nav a {
    color: var(--whiteColor);
}

.main_nav {
    color: var(--textColorWhite);
    background-color: var(--blackColorHeader);
}

.menu .fa {
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--whiteColor);
}

.menu a {
    text-decoration: none;
}

i {
    color: #29b4e2;
}

/* DropDown menu */
.dropbtn {
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin: 14px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: var(--textColorGrey);} */


/* For stories layout */

.stories_section{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: var(--whiteColor);
}

.story_item{
  border-bottom: 4px solid var(--colorforWeakGreyBackground);
}

section {
    background-color: var(--blueColor);
    margin: 20px;
    margin-bottom: 70px;
}

/* load more buttton */
#load_more_button{
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#load_more_button:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

/* footer */

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--blackColorHeader);
    width: 100%;
    color: white;
    text-align: center;
}

.social_media i {
    margin: var(--spacing);
}



/* for responsiveness */

@media only screen and (max-width: 700px) {
    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .menu h2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 220px;
    }

   
    /* .statistic_section {
        background-color: var(--whiteColor);
        display: flex;
       
        color: var(--textColorGrey);
        justify-content: center;
        align-items: center;
        padding: var(--spacing);
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.2em;
        box-shadow: none;
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: -35px;
        padding: 10px
    } */


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    /* .main_who_items img {
        width: 100%;
    } */

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    /* for footer section */
/* 
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--blackColorHeader);
        color: var(--whiteColor);
        padding: 10px;
    } */

    footer div {
        margin-right: 0px;
    }
}