/* my variables style */

:root {
    --blueColorContrast: #0b3af6;
    --blueColor: #29b4e2;
    --blackColorHeader: rgb(0, 0, 0);
    --blueColorBC: #02090be3;
    --blueColorWhite: #e4f6fc88;
    --blueColorWhiteLess: #e7f7fc;
    --redColorWhiteLess: #fdeded;
    --redColor: #fa1717;
    --GreenColorWhiteLess: #f1faf0;
    --GreenColor: #36c729;
    --OrangeColor: #be530bef;
    --OrangeColorBlack: #713209ef;
    --OrangeColorWhite: #977761ef;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);

    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;

}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blueColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


/* For stories layout */

.stories_section{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: var(--whiteColor);
}

.story_item{
  border-bottom: 4px solid var(--colorforWeakGreyBackground);
}

section {
    background-color: var(--blueColor);
    margin: 20px;
    margin-bottom: 70px;
}

/* load more buttton */
#load_more_button{
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
}

p {
    color: black;
}
h2 , h3, h1{
    color: var(--blueColor);
}
.icon{
    color: var(--blueColor);
}

#load_more_button:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

.social_media i {
    margin: var(--spacing);
}

#Story_controllers{
    display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* for responsiveness */

@media only screen and (max-width: 720px) {   

   #Story_controllers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
   }


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

   
    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }
 
}