:root {
    --blueColorContrast: #0b3af6;
    --blueColor: #29b4e2;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --blackColor: rgb(0, 0, 0);
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;
    --colorGreyComments: #eff3f5dd;
}

.not_found {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;

}

.not_found p {
    color: var(--whiteColor);
    font-size: large;
    font-weight: 800;
}
.NoAccessContainer{
    display: "flex";
    flex-direction: "column";
    align-items: "start";
    margin-top: 150px;
    margin-left : 350px;
    justify-content: "start";
}



/* For responsiveness  */
@media only screen and (max-width: 720px) {
.NoAccessContainer {   
    margin: 0px;
    padding: 0px;    
}

}

@media only screen and (max-width: 920px) {
    .NoAccessContainer {        
        /* background-color: var(--blueColor);
        color: var(--blackColor); */
        }    
    }