/* my variables style */

:root {
    --blueColorContrast: #0b3af6;
    --blueColor: #29b4e2;
    --blackColorHeader: rgb(0, 0, 0);
    --blueColorBC: #02090be3;
    --blueColorWhite: #e4f6fc88;
    --blueColorWhiteLess: #e7f7fc;
    --redColorWhiteLess: #fdeded;
    --redColor: #fa1717;
    --GreenColorWhiteLess: #f1faf0;
    --GreenColor: #36c729;
    --OrangeColor: #be530bef;
    --OrangeColorBlack: #713209ef;
    --OrangeColorWhite: #977761ef;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;

}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--whiteColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* menu */
.main_nav a {
    color: var(--whiteColor);
}

.main_nav {
    color: var(--textColorWhite);
    background-color: var(--blackColorHeader);
}

.menu .fa {
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--whiteColor);

}

.menu a {
    text-decoration: none;
    font-size: 15px;
}

i {
    color: #29b4e2;
}

/* DropDown menu */
.dropbtn {
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin: 14px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: var(--textColorGrey);} */

/* vocabulary header */
.header_vocabulary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vocabulary_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



/* vocabulary */
.vocabulary_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vocabulary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.submit {
    border: 1px solid var(--whiteColor);
    background-color: var(--blueColor);
    justify-content: flex-end;
    color: var(--whiteColor);
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.vocabulary_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vocabulary_search .fa {
    color: var(--colorforWeakGrey);
    margin-right: -20px;
    margin-left: 20px;
}

.vocabulary_search input {
    border: 2px solid var(--colorforWeakGrey);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    background-color: transparent;
    color: var(--textColorGreyParagraph);
}

.vocabulary_search button:hover {
    cursor: pointer;
}

.Add_vocabulary_Btn:hover {
    cursor: pointer;
}

.Add_vocabulary_Btn {
    color: var(--blueColor);
    background-color: var(--whiteColor);
    border-radius: 2px;
    border: 1px solid var(--blueColor);
}

/* Vocabulary main list  */

.sample_vocabulary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--whiteColor);
    background-color: var(--OrangeColor);
    padding: 20px;
    margin: 50px;
    width: 80%;
    border-radius: 10px;
}

.sample_vocabulary_header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.sample_vocabulary_header button {
    border: 1px solid var(--whiteColor);
    background-color: transparent;
    justify-content: flex-end;
    color: var(--whiteColor);
    border-radius: 3px;
    padding: 5px;
}

.sample_vocabulary_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card_vocabulary {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}

.card_vocabulary_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--OrangeColorBlack);
    color: var(--textColorGreyParagraph); */
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    width: 100%;
}

.card_vocabulary_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    background-color: var(--OrangeColorWhite);
    width: 100%;
    height: 5%;
    /* padding: 10px; */
}

.card_vocabulary_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--whiteColor);
    background-color: var(--OrangeColorBlack);
    /* width: 100%; */
    padding: 10px;
}



.vocabulary_box {
    background: var(--colorGreyComments);
    color: #29b4e2;
    border: 1px solid var(--colorGreyComments);
    border-radius: 8px;
    padding: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
    box-shadow: 0.1em 0.1em 0.2em;
}

/* .vocabulary_box:hover {
cursor: pointer;
} */

.vocabulary_header:hover {
    cursor: pointer;
}

#header_vocabulary {
    /* color: var(--colorActive); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorGreyParagraph);
}

.header_vocabulary {
    color: var(--textColorGreyParagraph);
}

.vocabulary_details {
    color: var(--colorGreyComments);
    background: var(--inputColorGrey);
}

.vocabulary_paragraph {
    color: var(--textColorGrey);
}

.deleteButton {
    margin: 20px;
    float: right;
    color: red;
}

.deleteButton:hover {
    cursor: pointer;
}

#synonym_container{
    padding-bottom: 100px;
}
#synonym_container>p {
    display: inline-block;
    color: var(--blueColor);
}

#search_content{
    padding-bottom: 80px;
    margin: 50px;
}

/* footer */
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--blackColorHeader);
    width: 100%;
    color: white;
    text-align: center;
}

footer div {
    margin-right: 90px;
}

footer p {
    color: var(--colorGreyText);
}


footer input[type=submit] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    background: var(--blueColor);
    border: 1px solid var(--inputColor);
    box-sizing: border-box;
    color: var(--whiteColor);
    cursor: pointer;
}

footer input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    background: var(--inputColor);
    border: 1px solid var(--inputColor);
    box-sizing: border-box;
}

.footer_input {
    display: flex;
}

.social_media i {
    margin: var(--spacing);
}


/* for vocabularies */
.vocabulary_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;

}


.vocabulary_form input[type=submit] {
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    background: var(--blueColor);
    box-sizing: border-box;
    color: var(--whiteColor);
    cursor: pointer;
    border: none;
    border-radius: 20px
}

.vocabulary_button_text {
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    background: var(--blueColor);
    box-sizing: border-box;
    color: var(--whiteColor);
    cursor: pointer;
    border: none;
    border-radius: 20px
}

.vocabulary_item_content {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* show 5 related blog  */

#related_blog_item {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    max-width: 80%;

}

/* page numbers */
.page_numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_numbers h3 {
    padding: 10px;
    margin: 5px;
}

.page_numbers h3:hover {
    cursor: pointer;
}

.page_numbers p:hover {
    cursor: pointer;
}

.hide {
    display: none;
}



/* for responsiveness */

@media only screen and (max-width: 720px) {
    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .hero_section {
        font-size: .8rem;
    }

    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    .statistic_section {
        background-color: var(--whiteColor);
        display: flex;
        /* flex-direction: column; */
        color: var(--textColorGrey);
        justify-content: center;
        align-items: center;
        padding: var(--spacing);
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.2em;
        box-shadow: none;
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: -35px;
        padding: 10px
    }


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    /* for footer section */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--colorfooter);
        color: var(--whiteColor);
        padding: 10px;
    }

    footer div {
        margin-right: 0px;
    }
}